body{
    /* background-image: url(https://64.media.tumblr.com/f40fad30a10368fa1b32c3a0a9f61d40/tumblr_psw6ybdabW1uxrf48o1_640.gifv); */
    /* background-image: url(https://i.redd.it/97wpqwc5p5w91.gif); */
    /* background-image: url('./Fall.jpg'); */
    background-size: 100% 80%;
    background-repeat: repeat-x;
    position: relative;
    /* background-color: black; */
    border-radius: 10px;
}
.hedge{
    height: 110px;
}
.het{
    height: 90px;
}
.plumb{
    height: 110px;
}
.steam{
    display: flex;
    justify-content: center;
}
.prof{
    background-color: black;
    padding: 10px;
    border: solid white;
    border-radius: 5px;
    width: 50%;
}
.hyrule{
    display: flex;
    justify-content: center;
}
.exp{
    background-color: blue;
    padding: 10px;
    border: solid white;
    border-radius: 5px;
    width: 50%;
}
.skool{
    display: flex;
    justify-content: center;
}
.tawt{
    background-color: blue;
    padding: 10px;
    border: solid white;
    border-radius: 5px;
    width: 50%;
}

@media screen and (max-width: 750px){
    .steam{
        display: flex;
        justify-content: center;
    }
    .het{
        height: 65px;
    }
    .prof{
        background-color: black;
        padding: 10px;
        border: solid white;
        border-radius: 5px;
        width: 60%;
        font-size: 75%;
    }
    .hyrule{
        display: flex;
        justify-content: center;
    }
    .exp{
        background-color: blue;
        padding: 10px;
        border: solid white;
        border-radius: 5px;
        width: 60%;
    }
    .skool{
        display: flex;
        justify-content: center;
    }
    .tawt{
        background-color: blue;
        padding: 10px;
        border: solid white;
        border-radius: 5px;
        width: 50%;
    }
}