@media screen and (max-width: 1880px) {
    .navi {
        background-color: rgb(0, 0, 0);
        color: white;
        border: solid white 3px;
        border-radius: 5px;
        position: fixed;
        width: 98%;
        height: 10%;
        display: flex;
        justify-content: space-around;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    .dir {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    a {
        color: white;
        text-decoration: none;
    }
    a:hover{
        /* border: solid rgb(6, 18, 185); */
        border-radius: 5px;
        padding-left: 10px;
        /* cursor: url(https://art.pixilart.com/f1d8b19c56fb7d2.png), pointer; */
    }
}
@media screen and (max-width: 1000px) {
    a:hover{
        /* border: solid rgb(0, 13, 199); */
        border-radius: 5px;
        padding-left: 10px;
    }
    .navi{
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        flex: wrap;
    }
}
@media screen and (max-width: 700px) {
    a:hover{
        /* border: solid rgb(16, 13, 216); */
        border-radius: 5px;
        padding-left: 10px;
    }
    .navi{
        height: 90px;
        display: flex;
        font-size: 75%;
    }
}
@media screen and (max-width: 650px) {
    a:hover{
        /* border: solid rgb(216, 135, 13); */
        padding-left: 10px;
    }
    .navi{
        height: 75px;
        display: flex;
        font-size: 50%;
    }
}