.gizmo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.sirs{
    padding-left: 10px;
}
.tools{
    background-color: black;
    width: 300px;
    height: 290px;
    border: solid 3px white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.smiles{
    transform: translate(160px, -100px);
    height: 120px;
    width:120px;
}
.chili{
    transform: translateY(-60px);
}